<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infostudentfbeta">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <activity android:name=".Chat.chatroom" />
        <activity android:name=".Authentication.Register" />
        <activity android:name=".SplashScreen.SplashScreen"
            android:theme="@style/SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Chat.Main_Chat" />
        <activity android:name=".DigitalServices.DigitalActivity" />
        <activity android:name=".NavigationDrawer.DrawerActivity" />
        <activity android:name=".Mapa.MapsActivity" />
        <activity android:name=".Authentication.EditProfile" />
        <activity android:name=".Authentication.Login" />
        <activity android:name=".Authentication.MainMenu" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_string"/>
    </application>

</manifest>